<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MTA Bus Visualizations</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 		
 		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>


	</head>
	<body>
		<h1>MTA Bus Visualization</h1>
		<div id="map" style="width: 1200px; height: 1200px"></div>
		
		
		<!-- <script src="https://github.com/Leaflet/Leaflet.heat/node_modules/simpleheat/simpleheat.js"></script>
		<script src="HeatLayer.js"></script> -->
		<script src="leaflet-heat.js"></script>

 	
<script>

var map = L.map('map').setView([-37.87, 175.475], 12);

var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);

//addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
//var heat = L.heatLayer(addressPoints).addTo(map);

var heat = L.heatLayer([
    [50.5, 30.5, 0.2], // lat, lng, intensity
    [50.6, 30.4, 0.5]
], {radius: 25}).addTo(map);

</script>

	</body>
</html>
